*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#create_multiplayer{
    height: 45rem;
}

.container{
    padding: 10px 10%;
}

.create_images{
    margin: 30px 0px 0px 25rem;
}

.create_images img{
    margin-left: 40px;
    transition: 0.5s;
    cursor: pointer;
}

 img:hover{
    transform: scale(1.1);
 }
.creategame_btn{
    height: 50px;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.5s;

}

.creategame_btn:hover{
    transform: scale(1.05);
}

.button_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.create_button,
.join_button,
input {
  margin-bottom: 10px; 
  cursor: pointer;
}

input{
    height: 50px;
    width: 400px;
    font-size: 20px;
}

