*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#create_multiplayer{
    height: 50rem;
}

.container{
    padding: 10px 10%;
}

.create_images{
    margin: 30px 0px 0px 25rem;
}

.create_images img{
    margin-left: 40px;
    transition: 0.5s;
}

 img:hover{
    transform: scale(1.1);
 }
.creategame_btn{
    height: 50px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.5s;

}

.creategame_btn:hover{
    transform: scale(1.1);
}