*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 10px 10%;
  }
  
  .home_background {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .home_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/rock.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(3px); 
    z-index: -1;
  }
  
  #home {
    position: relative; 
    z-index: 1; 
  }

  h1{
    font-size: 50px;
    color: black;
  }
