*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    padding: 10px 10%;
  }
  
  .home_background {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .home_background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/rock-paper-scissor.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(3.5px); 
    z-index: -1;
  }
  
  #home {
    position: relative; 
    z-index: 1; 
  }

  h1{
    font-size: 50px;
    text-align: center;
  }

  .home_page{
    display: grid;
    align-content: center;
    gap: 10px;
    margin: 20% 0 0 45%;
  }


.home_page p{
  font-size: 20px;
}


 .single_multi{
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: gold;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
  }
.single_multi:hover{
  transform: scale(1.15);
}
  .single_multi p{
    margin: 6% 0 0 10%;
  }
