*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.multiplayer_home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white
}
.multi_container{
    padding: 2rem 7rem;
    border-radius: 14px;
    background: rgb(235, 195, 66);
    -webkit-box-shadow: 8px 8px 15px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 15px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 15px 0px rgba(66, 68, 90, 1);
}
.score_result{
    display: flex;
    column-gap: 7.9rem;
    align-items: center;
    color: black;
    font-size: 1.234rem;
    margin-top: 1rem;
    pointer-events: none;
}
.result_images{
    display: flex;
    column-gap: 7rem;
}

.multi_container.start .playerOne_result{
    transform-origin: left;
    animation: playerOneShake 0.7s ease infinite;
}
@keyframes userShake {
    50%{
        transform: rotate(10deg);
    }
    
}
.multi_container.start .playerTwo_result{
    transform-origin: right;
    animation: playerTwoShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50%{
        transform: rotate(-10deg);
    }
    
}

.result_images img{
    width: 100px;
}
.playerOne_result img{
    transform: rotate(90deg);
}
.playerTwo_result img{
    transform: rotate(-90deg);

}
.result {
    text-align: center;
    font: 2rem;
    margin-top: 1.5rem;
    font-size: 30px;
}
.option_image img{
    width: 50px;
}
.option_images{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    justify-content: space-between;

}
.container.start .option_images{
    pointer-events: none;
}

.option_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3 ease;
}
.option_image:hover{
    opacity: 1;
}
.option_image.active{
    opacity: 1;
}
.option_image p{
    color: black;
    font-size: 1.234rem;
    margin-top: 1rem;
    pointer-events: none;
}

